@import "tailwindcss";
:root {

  --color-blue: #4335C4;

  --color-green: #44A16F;
  
  --color-red: #C43B35;
  
  --color-lightgray: #eff6ff;
  --color-gray: #605C78; 
  --color-darkgray: #36363e;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: dark light; */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  color: white;
  background-color: #080808;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}


